# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List of common libraries for Data Science
- Table with tools for Data Science
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas (python)
2. Mathplotlib (python)
3. dplyr (R)
4. ggplot2 (R)

| Data Science Tools |
| ---------------- |
| JupyterNotebook | 
| Anaconda |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60 
print (hours)

3.3333333333333335

## Author
Karyna Veretylna